{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "globals": {
    "fetch": true
    },
    "rules": {
        "react/prop-types": ["error", { "ignore": ["navigation"] }],
        "no-underscore-dangle": 0,
        "import/prefer-default-export": "off",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}